#wrap{
	width: 40vw;
	margin:auto;
	display: inline-block;
	overflow: hidden;
}
.slider-box{
  width:40vw;
  overflow: hidden;
}
.slider{
  position:relative;
  width:10000px;
  overflow: hidden;
}
.slider img{
  width: 40vw;
  height: auto;
  float: left;
  z-index: 0;
}